.layout {
  display: flex;
}

main {
  width: 100%;
  color: #fff;
}

.--color-danger {
  color: #149c7f;
}

.user-info p {
  color: #000;
  font-size: 8px;
  font-weight: 600;
}

.--btn {
  padding: 5px 8px;
  border: none;
  cursor: pointer;
  font-size: 12px;
  transition: background-color 0.3s, color 0.3s;
}

.--btn-danger {
  background-color: #149c7f;
  color: var(--color-white);
  margin-top: -10px;
}

.--btn-danger:hover {
  background-color: #18bc9d;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 230px;
  height: 100vh;
  flex-shrink: 0;
  background-color: var(--color-white);
  overflow: auto;
  color: var(--color-dark);
  transition: all 0.5s;
}

.top_section {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  background-color: var(--dark-blue);
  height: 70px;

  .logo {
    font-size: 30px;
    color: #fff;
    margin-top: 8px;
  }
}

.bars {
  display: flex;
  font-size: 25px;
  margin-left: 70px;
  cursor: pointer;
  color: var(--color-white);
  transition: all 0.3s;
}

.bars:hover {
  color: #6fe998;
  font-size: 27px;
}

.sidebar-item {
  padding: 0.75em 1em;
  display: block;
  background-color: rgba(255, 255, 255, 255);
  transition: background-color 0.15s;
}

.s-parent {
  border-bottom: 2px solid #ccc;
}

.sidebar-item:hover {
  background-color: #eee;
}

.sidebar-title {
  display: flex;
  font-size: 1.2em;
  justify-content: space-between;
  align-items: center;
}

.sidebar-title span {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
  transition: all 0.5s;
  font-size: 1.6rem;
}

.sidebar-title span .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5em;
  font-size: 25px;
}

.sidebar-title .arrow-icon {
  cursor: pointer;
  transition: all 0.5s;
}

.sidebar-item.open > .sidebar-title .arrow-icon {
  transform: rotate(90deg);
}

.sidebar-content {
  padding-top: 0.25em;
  height: 0;
  overflow: hidden;
}

.sidebar-item.open > .sidebar-content {
  height: auto;
}

.s-child {
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-top: 5px;
}

.s-child:hover {
  border: 1px solid #149c7f;
}

a {
  color: #000;
  text-decoration: none;
  transition: all 0.2s;
}

.active {
  color: #149c7f;
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  background-color: #fff;
}

.active::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 100%;
  right: 0;
  top: 0;
  background-color: #149c7f;
}

.sublink .sidebar-item .sidebar-title {
  padding-left: 40px;
}

.header{
  padding: 10px 20px;
}

.--flex-between-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.welcome {
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  font-weight: 600;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 8px;
  color: #000;
  font-weight: 600;
}

.user-info p {
  margin: 0 10px;
}

.dropdown, .port-name {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 8px;
  color: #000;
}

.user-info input[type="text"], select {
  padding: 5px;
  border: none;
  border-radius: 10px;
  box-shadow: inset 2px 2px 5px #ccc, inset -2px -2px 5px #fff;
  background: #f0f0f3;
  font-size: 8px;
  color: #333;
  outline: none;
}

.user-info input[type="text"]::placeholder {
  color: #aaa;
}

.user-info input[type="text"]:focus, select:focus {
  box-shadow: inset 2px 2px 5px #ccc, inset -2px -2px 5px #fff;
}